__pycache__/
*.pyc
*.pyo
*.pyd

discrete_env/
.hypothesis/

docs/build/
docs/source/_static/
docs/source/_templates/

complexity/reports/
notebooks/

*.log
*.tmp

.DS_Store

tree.txt
src/QuadraticStructures.py

*.egg-info/
.env
.venv
