annotated_types==0.7.0
AppKit==0.2.8
black==25.1.0
bokeh==3.7.2
Brotli==1.0.9
brotlicffi==1.1.0.0
cairocffi==1.7.1
Carbon==1.1.10
chardet==5.2.0
checks==0.2
click==8.1.8
colorama==0.4.6
ConfigParser==7.2.0
cryptography==44.0.2
Cython==3.0.12
defcon==0.12.1
defusedxml==0.7.1
dl==0.1.0
exceptiongroup==1.2.2
filelock==3.18.0
freetype_py==2.5.1
fs==2.4.16
glyphsLib==6.10.1
grequests==0.7.0
h2==4.2.0
HTMLParser==0.0.2
importlib_resources==6.5.2
ini2toml==0.15
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.5
janome==0.5.0
jieba==0.42.1
jnius==1.1.0
keyring==25.6.0
libcst==1.7.0
lxml==5.3.1
lz4==4.4.4
MeCab==0.996.11
mtrand==0.1
munkres==1.1.4
mypy==1.15.0
olefile==0.47
pickle5==0.0.12
pkg1==0.0.3
protobuf==6.30.2
psutil==5.9.0
PyInstaller==6.12.0
pyodide==0.0.2
pyOpenSSL==25.0.0
PyQt5==5.15.11
PyQt6==6.8.1
PySide2==5.15.2.1
PySide6==6.9.0
PyStemmer==2.2.0.3
pytest==8.3.5
python_Levenshtein==0.27.1
PyYAML==6.0.2
PyYAML==6.0.2
Quartz==0.0.1.dev0
railroad==0.5.0
recommonmark==0.7.1
reportlab==4.3.1
Res==0.1.7
scipy==1.15.2
scipy_doctest==1.6
selenium==4.30.0
setuptools_scm==8.2.0
shiboken2==5.15.2.1
shiboken6==6.9.0
simplejson==3.20.1
sip==6.10.0
sphinx_gallery==0.19.0
sympy==1.13.3
thread==2.0.5
threadpoolctl==3.6.0
tomli_w==1.2.0
tornado==6.4.2
trove_classifiers==2025.3.19.19
ufoLib2==0.17.1
uharfbuzz==0.48.0
unicodedata2==16.0.0
urllib3_secure_extra==0.1.0
watchdog==6.0.0
xattr==1.1.4
xmlrpclib==1.0.1
xx==3.3.2
zopfli==0.2.3.post1
zstandard==0.23.0
